.ai-image-generator{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 20px;
    gap: 30px;
}
.header{
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 30px;

}
.header span{
    color: #DE1B89;
    font-weight: 600; 
    display: block;  
}
.img-loading{
    display: flex;
    flex-direction: column;
}
.img-loading img{
    width: 300px;
    margin-left: 83px;
}
.search-box{
    display: flex;
    margin-right: 83px;
    margin-top: 22px;
    width: 580px;
    height: 57px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: #1f3540;
}
.search-input{
    width: 550px;
    height: 50px;
    padding: 5%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
   

}
.search-input::placeholder{
    padding: 5%;
    color: #999;
}
.generate-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 132px;
    height: 60px;
    font-size: 19px;
    border-radius: 50px;
    background: #DE1B89;
    cursor: pointer;
}
.loading-bar{
    width: 0px;
    height: 8px;
    background: #de1b89;
}
.loading-text{
    font-size: 18px;
}
.loading-bar-full{
    width: 300px;
    height: 8px;
    background: #de1b89;
    transition: 15s;
}
.display-none{
    display: none;
}